.debug > *{
    background-color: orange;
    outline: 1px dashed blue;
}

.debug > * > *{
    background-color: greenyellow;
    outline: 1px dashed lightcoral;
}

.debug > * > * > *{
    background-color: red;
    outline: 1px dashed black;
}

.debug > * > * > * > *{
    background-color: pink;
    outline: 1px dashed black;
}

.debug > * > * > * > * > *{
    background-color: rgb(214, 61, 86);
    outline: 1px dashed black;
}

.debug > * > * > * > * > * > *{
    background-color: rgb(146, 35, 133);
    outline: 1px dashed black;
}