/*

IMPORT

*/

@import "debug.css";



/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/

.nav-link , .navbar-brand{
    color: white;
}


nav{
    background-color: #2C3E50;
}

button{
    border-color: white;
}

.green_bg{
    background-color: #1ABC9C;
}

.green_txt{
    color: #1ABC9C;
}

.border_color_white{
    border-color: white;
}

.white_txt{
    color: white;
}

h1{
    font-size: 50px;
    color: white;
}

h2{
    font-size: 50px;
}

hr{
    display: inline-block;
    border: 3px solid white;
    border-radius:50px;
    opacity: 1;   
    width: 30%;
}

.dark_hr{
    display: inline-block;
    border: 3px solid black;
    border-radius:50px;
    opacity: 1;   
    width: 30%;
}

.form_hr{
    display: inline-block;
    border: 1px solid lightgrey;
    opacity: 0.5;   
    width: 100%;
    margin-top: 3.125rem;
}

.col-7 > img{
    height: 12.5rem;
    width: 12.5rem;
}

.col-7 > svg{
    vertical-align: top;
    margin: 0 20px;
}

.col-7 > P{
    color: white;
    font-size: 25px;
}

.small_img{
    height: 12.5rem;
    width: 15.625rem;
    display: inline-block;
    border-radius: 25px;
}

.small_btn{
    width: 200px;
    display: block;
}

.grey_bg{
    background-color: #3A546D;
}

.dark_grey_bg{
    background-color: #2C3E50;
}

.circle_border{
    padding: .625rem;
    border: 3px solid white;
    opacity: 1;
    border-radius: 50%;
}